.ponude {
    padding: 20px;
    .ponuda {
        border-bottom: 1px solid #d4d4d4;
        padding: 10px;
        display: flex;
        cursor: pointer;
        span {
            flex: 1;
            &.ponuda-info {
                flex: 2;
                i {
                    margin-right: 10px;
                }
            }
        }
    }
}