<div class="dashboard-container">
    <div class="header">
        <div class="header-wrapper">
            <div class="logo">
                <a href="#"><img src="/src/images/feed.png" alt="logo"></a>
            </div>
            <div class="breadcrumb">
                <div class="overflow-breadcrumb" ng-class="{'collapsed': vm.collapseBreadcrumb}">
                    <button class="overflow-button" id="overflow-button" ng-click="vm.toggleBreadcrumb()">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown">
                        <ul>
                            <li ng-repeat="item in vm.breadcrumb track by $index">
                                <a ui-sref="{{item.state}}" ng-click="vm.toggleBreadcrumb()">{{item.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul>
                    <li ng-repeat="item in vm.breadcrumb track by $index">
                        <a ui-sref="{{item.state}}">{{item.name}}</a>
                        <span class="divider" ng-show="$index + 1 < vm.breadcrumb.length">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </span>
                    </li>
                </ul>
            </div>

            <div class="header-icons">
                <ul>
                    <li ng-show="vm.showLoader">
                        <a href="#" id="toggle-theme">
                            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" style="font-size: 26px;"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="menu">
                <div class="dropdown" ng-class="{'collapsed': vm.collapseProfile}">
                    <button class="dropdown-button" id="profile-dropdown" ng-click="vm.toggleProfile()">
                        <div class="button-wrapper">
                            <div class="profile-content">
                                <div class="email" ng-bind="vm.username"></div>
                            </div>
                        </div>
                    </button>
                    <div class="dropdown-content">
                        <ul>
                            <li ng-click="vm.logout()">Logout</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="sidebar" ng-class="{'collapsed': vm.collapseSidebar}">
            <div class="sidebar-wrapper">
                <div class="toggle-menu">
                    <button class="collapse-button" id="collapse-sidebar" ng-click="vm.toggleSidebar()">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="menu">
                    <ul>
                        <li ng-repeat="sekcija in vm.sekcije track by $index" ng-if="sekcija.imaPravoPristupa">
                            <a ui-sref="{{sekcija.state}}" ui-sref-active="active">
                                <span class="icon">
                                  <i class="fa {{sekcija.ikonica}}" aria-hidden="true"></i>
                                </span>
                                <span class="text">{{sekcija.naziv}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content" ui-view="content"></div>
    </div>
</div>
