.access-wrapper {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  > div {
    height: 100%;
  }
  .big-background {
    flex-grow: 1;
    @include breakpoint(600px) {
      display: none;
    }
    .bg {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  .access-panel {
    width: 500px;
    background: #fff;
    flex-shrink: 0;
    @include breakpoint(600px) {
      width: 100%;
    }
    .panel-wrapper {
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 50px 100px 50px 50px;
      @include breakpoint(mobile) {
        padding: 30px 50px 30px 30px;
      }
      > div {
        flex-shrink: 0;
      }
    }
  }
  .logo {
    margin-bottom: 20px;
    @include breakpoint(mobile) {
      margin-bottom: 10px;
    }
    h1 {
      font-family: 'Exo', sans-serif;
      font-weight: 800;
      color: #ababab;
      margin: 0;
      span {
        color: $primary-color;
      }
    }
    img {
      width: 180px;
      height: auto;
    }
  }
  .copyright {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .left {
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
  .access-form {
    margin-bottom: 150px;
    font-size: 15px;
    @include breakpoint(1500px) {
      margin-bottom: 100px;
    }
    @include breakpoint(1200px) {
      margin-bottom: 80px;
    }
    @include breakpoint(1400px) {
      margin-bottom: 80px;
    }
    @include breakpoint(mobile) {
      margin-bottom: 50px;
    }
    h1 {
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .description {
      margin-bottom: 10px;
    }
    .elem {
      margin-bottom: 10px;
      &.remember {
        margin-top: 30px;
        * {
          cursor: pointer;
        }
      }
    }
    .submit {
      margin-top: 30px;
    }
    .forgot-password {
      margin-top: 50px;
      a {
        color: #979797;
        &:hover {
          color: darken(#979797, 15%);
        }
      }
    }
    .register {
      margin-top: 10px;
      a {
        display: inline-block;
        border-bottom: 1px solid $primary-color;
      }
    }
  }
}
